.modal-backdrop {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.15);
    z-index: 1000;
}

.modal-box {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    background-color: white;
    gap: 16px;
    padding: 25px;
    z-index: 1001;
    box-shadow: 0px 5px 20px rgba(0,0,0, 0.1);
}

.modal-input-text, .modal-input-text-area {
    padding: 8px 8px;
    border: thin solid black;
}

.modal-input-text-area {
    resize: none;
    min-height: 2.2rem;
    max-height: 4.4rem;
}

.modal-close {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 32px;
    height: 32px;
    border: none;
    background: var(--light-gray);
    border-radius: 6px;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-button {
    padding: 4px 4px;
}

.modal-close:hover {
    background: var(--pink);
    color: white;
}

.modal-flex-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}

.modal-input-label {
    font-size: 0.8rem;
    padding: 6px;
    opacity: 50%;
    width: 50px;
}

.modal-input-date, .modal-input-select {
    flex: 1;
    padding: 4px 4px;
    border: thin solid black;
}

.modal-button {
    font-size: 1rem;
    font-weight: 500;
    border: 0;
    border-radius: 6px;
    padding: 8px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-button:hover {
     background: var(--pink);
        color: white;
}

.modal-button img {
    aspect-ratio: 1;
    width: 1.5rem;
    margin-right: 0.5rem;
    filter: brightness(0) saturate(100%) invert(16%) sepia(91%) saturate(3788%) hue-rotate(354deg) brightness(84%) contrast(92%);
}

.modal-button:hover img {
    filter: brightness(0) invert(1);
}

.modal-box > .task-modal-wrapper {
  display: inherit;
  flex-direction: inherit;
  justify-content: inherit;
  align-items: inherit;
  gap: inherit;
  width: 250px;
}