.dashboard-main-area {
    grid-area: main-area;
    display: flex;
    flex-direction: column;
    padding: 75px 120px;
}

.task-list {
    display: grid;
    grid-template-columns: 40px 1.5fr 2fr 1fr 1fr 40px;
    gap: 0;
    list-style: none;
    padding: 0;
    margin: 0;
}

.task-row {
    display: contents; /* Allows li to not break grid rows */
}

.task-header .task-col {
    font-weight: bold;
    color: var(--muted-gray);
    padding-bottom: 8px;
    border-bottom: 2px solid var(--light-gray);
}

.task-col {
    padding: 10px 8px;
    border-top: 1px solid var(--light-gray);
    display: flex;
    align-items: center;
}

.task-col-checkbox {
    justify-content: center;
}

.task-col-title {
    font-weight: 600;
}

.task-col-priority {
    font-size: 0.95em;
    color: var(--pink);
}

.task-edit-btn {
    background: transparent;
    border: none;
}

.task-edit-img {
    aspect-ratio: 1;
    width: 22px;
}

.task-edit-img:hover{
    filter: brightness(0) saturate(100%) invert(16%) sepia(91%) saturate(3788%) hue-rotate(354deg) brightness(84%) contrast(92%);
}