* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    font-family: "Inter", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    all: unset;
}

:root {
    font-size: 16px;
    --lightest-gray: #f7f7f7;
    --light-gray: #ececec;
    --near-black: #373737;
    --muted-gray: #b4b4b4;
    --pink: #c71717;
}

.app-container {
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: minmax(min-content, 20%) 1fr;
    grid-template-areas: "sidebar main-content";
}

.sidebar-menu {
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    color: var(--near-black);
    padding: 20px;
    background-color: var(--lightest-gray);
    white-space: nowrap;
}

.main-content {
    grid-area: main-content;
    display: flex;
    flex-direction: column;
    padding: 75px 120px;
}

h1 {
    font-size: 1.75rem;
    font-weight: 700;
}

h2 {
    font-size: 1rem;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 10px;
}

.main-content li {
    border-top: 2px solid var(--light-gray);;
    padding: 10px 0;
}

.main-content .project-label {
    padding-left: 5px;
}

.sidebar-menu img {
    aspect-ratio: 1;
    width: 1.5rem;
    margin-right: 0.5rem;
    filter: brightness(0) saturate(100%) invert(68%) sepia(8%) saturate(5%) hue-rotate(352deg) brightness(86%) contrast(86%);
}

.sidebar-username {
    font-weight: 700;
    font-size: 1.1rem;
}

.sidebar-add-task > .sidebar-title {
    color: var(--pink);
}

.sidebar-add-task > img {
    filter: brightness(0) saturate(100%) invert(16%) sepia(91%) saturate(3788%) hue-rotate(354deg) brightness(84%) contrast(92%);
}

.sidebar-inert-title {
    font-weight: 700;
    color: var(--muted-gray);
    padding: 5px;
}

.sidebar-button {
    all: unset;
    box-sizing: border-box;
    width: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 5px;
}

.sidebar-button:hover {
    box-shadow: inset 100px 100px 0px rgba(187, 42, 42, 0.1);
    filter: brightness(0) saturate(100%) invert(16%) sepia(91%) saturate(3788%) hue-rotate(354deg) brightness(84%) contrast(92%);
}

.sidebar-button:active {
    filter: brightness(0) saturate(100%) invert(16%) sepia(91%) saturate(3788%) hue-rotate(354deg) brightness(74%) contrast(92%);
}

.modal-backdrop {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2px);
    z-index: 1000;
}

.modal-box {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    background-color: white;
    gap: 16px;
    padding: 40px;
    z-index: 1001;
    box-shadow: 0px 5px 20px rgba(0,0,0, 0.1);
}

.modal-input-text {
    padding: 5px 5px;
}

.modal-close {
    position: absolute;
    top: 16px;
    right: 16px;
    width: 32px;
    height: 32px;
    border: none;
    background: var(--light-gray);
    border-radius: 6px;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal-close:hover {
    background: var(--pink);
    color: white;
}