* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

h1, h2, h3, h4, h5, h6 {
    all: unset;
}

.container {
    display: grid;
    width: 100%;
    grid-template-columns: minmax(min-content, 20%) 1fr;
    grid-template-areas: "sidebar main-content";
}

.sidebar {
    grid-area: sidebar;
}

.main-content {
    grid-area: main-content;
}

.user-icon, .action-icon, .project-icon {
    aspect-ratio: 1;
    width: 20px;
}

.user-container, .action-item, .project-item {
    display: flex;
    flex-direction: row;
}